#-----------------Database Configuration-----------------#
POSTGRES_DB=Your_Database_Name
POSTGRES_USER=Your_Database_User
POSTGRES_PASSWORD=Your_Database_Password
POSTGRES_DB_URL=postgresql://Your_Database_User:Your_Database_Password@db:5432/Your_Database_Name
POSTGRES_HOST=db
POSTGRES_PORT=5432
#--------------------------------------------------------#


#-----------------Geocoder API Key----------------#
# Get your API key from https://developer.mapquest.com/documentation/geocoding-api/
#Or
# Get your API key from mapbox https://docs.mapbox.com/api/search/geocoding/
GEOCODER_API=Your_Geocoder_API_Key



#----------------------------------------#
# Local Development Settings #
#----------------------------------------#
DEBUG=
SITE_NAME=""
SECRET_KEY=""
ADMIN_URL=""
#----------------------------------------#
# Email Configuration #
#----------------------------------------#
EMAIL_PORT=
EMAIL_HOST=""
DEFAULT_FROM_EMAIL=""
DOMAIN=""