django
djangorestframework
psycopg2-binary
gunicorn
django-cors-headers
Pillow
django-filter
boto3
django-storages
djangorestframework-simplejwt
geocoder
whitenoise
django-debug-toolbar
dj-database-url
python-decouple
# gdal # --- IGNORE --- USING SYSTEM PACKAGE INSTEAD